<h1>Contact</h1>
<div class="formresponse" id="response"></div>
<form action="" method="post" id="formmail" class="mailform">

    <p style="margin-top: 0px; margin-bottom:14px">Name:<br>
        <input type="text" size="30" id="name"/></p>
    <p style="margin-top: 0px; margin-bottom:14px">Mail:<br>
        <input type="text" size="30" id="mail"/></p>
    <p style="margin-top: 0px; margin-bottom:14px">Subject:<br>
        <input type="text" size="30" id="subject"/></p>
    <p style="margin-top: 0px; margin-bottom:15px">Message:<br>
        <textarea cols="40" rows="6" style="height:125px" id="text" ></textarea></p>
    <div class="formsendstatus" id="sendstatus"></div>
    <p style="padding-top: 5px; margin:0px"><input type="submit" name="submit" value="Send message" id="sendmail"></p>
    <p style="margin-top: 15px"><input type="reset" name="reset" value="Reset form" id="resetform"></p>
</form>
