<h1>Overview</h1>

<div id="map" style="float:left; width: 595px; height: 450px"></div>
<div style="padding-left:600px; padding-bottom:10px; font-weight: bold">Missions:</div>
<div class="mapSideBar" id="side_bar" style="padding-left:5px;width:100px; float:left;"></div>

<table border="0" class="tablesorter" id="Missions">
    <thead>
        <tr><th>Mission name</th><th>Range</th><th>Lat</th><th>Lon</th><th>Objects</th></tr>
    </thead>
    <tbody>
        {MissionTableRows}
    </tbody>
</table>
<!--<div id="pager" class="tablesorterpager">
	<form>
		<img src="JS/icons/first.png" class="first"/>
		<img src="JS/icons/prev.png" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="JS/icons/next.png" class="next"/>
		<img src="JS/icons/last.png" class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>

			<option value="20">20</option>
			<option value="30">30</option>
			<option  value="40">40</option>
		</select>
	</form>
</div>-->

<noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b>
    However, it seems JavaScript is either disabled or not supported by your browser.
    To view Google Maps, enable JavaScript by changing your browser options, and then
    try again.
</noscript>
