<h1>Download</h1>
<p style="font-weight: bold">Client</p>
<p>ALPHA - 2011-01-16 - 188KB - <a href="Downloads/Client/nme2_client_alpha_20110116.zip">Download</a></p>
<p>Includes the basic functions to connect to this server and see the missions as stated on the overview page.<br>
Syncing scenery objects and managing multiple servers is currently not implemented.</p>

<p style="font-weight: bold">Manager</p>
<p>ALPHA - 2011-01-16 - 253KB - <a href="Downloads/Manager/nme2_manager_alpha_20110116.zip">Download</a></p>
<p>Gives you an overview of all missions on this server.<br>
Login via clicking the "Guest" button at the bottom of the login window.</p>