<h1>FAQ</h1>
<p style="font-weight: bold">What is NME2?</p>
<p>NME2 stands for "Network Mission Engine 2".<br>
    A few tools that let you place scenery objects over the internet.<br>
    As an example you can build an air race course nobody had ever seen before and just activate it for an event.</p>


<p style="font-weight: bold">What are those tools?</p>
<p>1. The client running on the flight simulator PC.<br>
2. This server interface for a quick overview of all missions available on the server<br>
3. A management program to administrate the missions on the server</p>

<p style="font-weight: bold">Any requirements?</p>
<p>Client: Requires FSX over a simconnect connection, .NET 3.5 and an active internet connection.<br>
    Manager: Requires .NET 4.0 and an active internet connection.</p>

<p style="font-weight: bold">Where to get the tools?</p>
<p>The client and manager files can be downloaded in die <a href="Site_Download.php">download section</a>.<br>
The Server will be available for download later this year.</p>

<p style="font-weight: bold">How it is all working together?</p>
<p>1. Creating a mission with the NME2 Manager, adding some objects and save it to the server.<br>
    2. Connect your client to the server.<br>
    3. Ask the server for new scenery items to sync before connecting to FSX<br>
    4. Connecting the client to FSX.<br>
    5. Fly as normal.<br>
    6. In the background the client is monitoring your position and asking the server if your current position lies within any mission.<br>
    7. If you are currently within a mission the client gets the information about the mission objects and activates them inside FSX.<br>
    8. After leaving a mission the items will be deactivated.<br>&nbsp;<br>
    The interval to check for new missions can be set freely within the client.</p>